<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeStarting %> </p>

<% posts.forEach(x => { %>
    <h1><%= x.title %> </h1>
    <p> <%= x.content.substring(0, 100) + "..." %> </p> 
    <a href="/posts/<%= x.title %>">Read More</a>
<%})%>
 

<%- include('partials/footer'); -%>